<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Chooser</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <ul th:fragment="authors">
            <li th:each="author : ${authors}">
                <input type="checkbox" th:id="${author}" th:value="${author.id}" th:name="authors" th:checked="${author.isAuthorOf(article)}" />
                <label th:for="${author}" th:text="${author.name}">Author</label>
            </li>
        </ul>
        <ul th:fragment="categories">
            <li th:each="category : ${categories}">
                <input type="checkbox" th:id="${category}" th:value="${category.id}" th:name="categories" th:checked="${category.isCategoryOf(article)}" />
                <label th:for="${category}" th:text="${category.name}">Category</label>
            </li>
        </ul>
    </body>
</html>
